/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  position: relative;
}

/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1pxsolid#eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    /*Scrollablecontentsifviewportisshorterthancontent.*/
    background-color: #f5f5f5;
    border-right: 1pxsolid#eee;
  }
}



/*
 * Main content
 */
.navbar {
  color: #fff;
  background-color: #47A4E9;
}

.navbar .navbar-nav>li>a {
  color: #FFF;
}

.navbar-inverse .navbar-brand {
  color: #FFF;
}

.main .page-header {
  margin-top: 0;
}

.jumbotron {
  padding-top: 15px;
  padding-bottom: 15px;
}

/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;

}

.placeholders h4 {
  margin-bottom: 0;

}

.placeholder {
  margin-bottom: 20px;

}

.placeholder img {
  display: inline-block;
  border-radius: 50%;

}

.thumbicon {
  width: 128px;
  height: 128px;

}

.holderjs,
.thumb object {
  display: block;
  margin: 0auto
}

/* Sidebar navigation */
.sidebar-left {
  background-color: #F5F5F5;
}

.metismenu ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.metismenu>li>a {
  padding: 5px 10px;
}

.metismenu ul a {
  padding: 5px 20px;
  display: block;
  text-decoration: none;
}

.metismenu li a:hover {
  display: block;
  background-color: #eee;
}

.metismenu li.current {
  border-right: 20px solid #563d7c;
}

.metismenu-item {
  padding-left: 5px;
}

.metismenu-item-icon {
  padding-right: 5px;
}

table {
  white-space: normal;
  line-height: normal;
  font-weight: normal;
  font-size: 14px;
}
