/* Common styles for all types */
.bs-callout {
  padding: 20px;
  /* margin: 50px 0; */
  margin-bottom:45px;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
}
.bs-callout h4 {
  margin-top: 0;
  margin-bottom: 5px;
}

.bs-callout h5 {
  margin-top: 0;
  margin-bottom: 5px;
  font-size:16px;
  font-weight:bold;
  line-height:40px
}

.bs-callout p:last-child {
  margin-bottom: 0;
}
.bs-callout code {
  border-radius: 3px;
}

/* Tighten up space between multiple callouts */
/* 
.bs-callout + .bs-callout {
  margin-top: -5px;
}
 */
/* Variations */
.bs-callout-danger {
  border-left-color: #ce4844;
}
.bs-callout-danger h4 {
  color: #ce4844;
  margin-bottom: 30px;
}

.bs-callout-danger p {
  margin-top: 20px;
  margin-bottom: 20px;
  text-indent:2em;
  line-height:2;
}

.bs-callout-danger img {
  border: 2px solid #DDDDDD;
  display:table-cell;
  margin: 0 auto;
}

.bs-callout-danger .back-to-top img {
  border: none;
}

.bs-callout-warning {
  border-left-color: #aa6708;
}
.bs-callout-warning h4 {
  color: #aa6708;
}
.bs-callout-info {
  border-left-color: #1b809e;
}
.bs-callout-info h4 {
  color: #1b809e;
}
.heading-back{
  display: block;
  float: right;
}
.back{
  padding-right: 7px;
  padding-top: 0px;
  padding-bottom: 0px;
  color: #337ab7;
  text-align: center;
}
.heading-back a:hover{
  color: #2A5780;
}

.bs-callout a{
  text-decoration: none;
}

.bs-callout .back-to-top{
  float:right;
}

.bs-callout-navigate a{
  line-height: 35px;
}

.bs-callout-navigate a:hover{
  font-size: 17px;
}

.bs-callout-navigate a span {
  font-weight: bolder;
}

#callout-overview-single-data p{
	margin:0px;
}