#login {
	background: url('images/login.png') no-repeat !important;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/login.png',sizingMethod='scale');
  margin-top: -55%;
  max-width: 1170px;
}

#login .form-group {
  margin-left: 15px;
  margin-right: 15px;
  width: auto;
}

.sep div {
}

.container {
  background-color: white;
}

ul.nav-tabs {
	margin-left: 0px;
}

.login_tab .col-xs-9 {
	width: 70%;
}

#mainboard .media-left {
	width: 64px;
	float: left;
	position: relative;
}

#mainboard  .media-body {
	margin-top: 30px;
  width: 180px;
  height: 47px;
  float: left;
  position: relative;
  background-color: white;
}

#mainboard .media-title {
  vertical-align: middle;
  height: 77px;
  position:absolute;
  top:100%;
  margin-top:-50px;
}

#mainboard .media {
	float: left;
	width: 315px; 
}

.media>.help-block {
  position: absolute;
  top: 0px;
  right: 20px;
  padding-right: 5px;
  color: black;
  z-index: 1;
}

label {
  padding-right: 50px;
}

.form-control,
.form-control-static {
  height: 20px;
}

.panel-body {
  padding-left: 10px;
  padding-right: 10px;
}

#context .media-left {
  padding-left: 10px;
  padding-right: 10px;
}

.navbar-grand {
  height: auto;
}

.nav-tabs {
  width: 100%;
}

.btn-group-justified>.btn {
  width: auto;
  height: 24px;
}

.has-feedback .form-control {
  padding-right: 0px;
}

.btn,
select {
  height: 34px;
}

.input-group-addon,
a.btn {
  height: 20px;
}

.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.form-horizontal .control-label {
  padding-top: 10px !important;
  padding-right: 10px !important;
  padding-bottom: 0px !important;
}

#applist .dt-bootstrap .col-sm-6,
#proxylist .dt-bootstrap .col-sm-6 {
	height: 1px;
}

#searchDiv {
	float: left;
}
#searchDiv label {
  height: 20px;
	float: left;
}
#searchDiv .control-label {
	padding-left: 50px;
	padding-right: 10px;
	padding-top: 6px;
}
#searchDiv .input-group-addon {
	float: left;
}
#searchDiv .form-control {
	width: 200px;
	float: left;
}

.pagination li {
	zoom: 1;
  *display: inline;
}

.media-title {
    padding-top: 10px;
}

.panel {
	height: 100%;
}
