.form-horizontal .control-label {
  padding-top: 4px;
  padding-bottom: 4px;
  height: 34px;
}

.nodedisabled {
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
}

.media-left img {
  behavior: none;
}

.nodedisabled img {
  filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);
}

.disabled {
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
  behavior: none;
}

.form-horizontal .form-control-static {
  height: 20px;
  padding-top: 4px;
  padding-bottom: 0px;
}

.modal-dialog .btn,
.modal-dialog .form-control {
  behavior: reset;
}

#loginbg {
  height: 650px;
}
