/* Move down content because we have a fixed navbar that is 50px tall */
html {
  height: 100%;
}

body {
  position: relative;
  font-family: "Microsoft YaHei", "Verdana", "Arial", "Tahoma", "Helvetica", "sans-serif";
  FONT-SIZE: 9pt;
  background-color: #EEE;
  height: 100%;
}

.container {
  min-width: 1140px !important;
  max-width: 1440px !important;
  width: 1170px !important;
  background-color: #FFFFFF;
  min-height: 100%;
}

.header-set {
  padding-top: 10px;
  padding-bottom: 10px;
}

/*
 * Global add-ons
 */
.sub-header {
  padding-bottom: 10px;
  border-bottom: 1pxsolid#eee;
}

.navbar-brand {
  padding: 10px 10px;
}

/*
 * Sidebar
 */

@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    /*Scrollablecontentsifviewportisshorterthancontent.*/
    background-color: #f5f5f5;
    border-right: 1pxsolid#eee;
  }
}

/*
 * Main content
 */
#main {
  margin-top: 0px;
  min-height: 400px;
  font-size: 16px;
}

/* Sidebar navigation */
table {
  white-space: normal;
  line-height: normal;
  font-weight: normal;
  font-size: 16px;
}

/* 页面布局,不要调整 */
.sep {
  color: white;
  font-weight: bold;
  background-color: #EF5350;
  padding: 5px;
  font-size: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
}

.navbar-fixed-bottom .sep {
  padding: 2px;
  margin-top: 2px;
  margin-bottom: 2px;
}

#navbar a {
  font-size: 14px;
}

#navbar a:HOVER {
  text-decoration: none;
}

#navbar a img {
  margin-bottom: 5px;
}
/* 
#navbar a span:HOVER {
  text-decoration: underline;
}
 */
.list-group-item {
  font-size: 100%;
  padding-left: 20px font-weight: bold;
  background-color: #fcfcfc;
  border-color: #cccccc;
}

.list-group-item a {
  letter-spacing: 2px;
  font-weight: bold;
}

.fa {
  padding-right: 10px;
  width: 26px;
}

.sep a {
  padding-left: 20px;
  padding-top: 0px;
  padding-bottom: 0px;
  color: white;
  text-align: center;
}

.navbar-fixed-top,
.navbar-fixed-bottom {
  background-color: #EEE;
  border: 0px;
}

.row {
  margin-right: 0px;
  margin-left: 0px;
}

/* 页面通用元素,请勿修改 */

.nav>li>a:focus,
.nav>li>a:hover {
  /* text-decoration: underline; */
  background-color: white;
}

.ui-dialog-titlebar {
  background-color: #b41e1f;
  color: white;
}

.dialog {
  margin-bottom: 0px;
  /* 
  margin-left: 10px;
  margin-right: 10px;
   */
}

.modal-header {
  padding-top: 8px;
  padding-bottom: 8px;
  font-weight: bold;
}

.dialog>.panel-body {
  margin: 0px;
  padding: 0px;
}

.diglog>p {
  margin: 0px;
}

.dialog .table>tbody>tr>th {
  width: 150px;
  font: bold;
  text-align: right;
  vertical-align: middle;
}

.dialog .info-detail {
  width: 200px;
}

.nopad {
  padding: 0px;
}

.noldeftpad {
  padding-left: 0px;
}

.half {
  width: 50% !important;
}

.form-control-static {
  height: 34px;
}

.form-horizontal .form-group {
  margin-right: 1px;
  margin-left: 1px;
  margin-top: 5px;
  margin-bottom: 5px;
}

#login .form-horizontal .form-group {
  margin-top: 20px;
  margin-bottom: 20px;
}

form .btn {
  margin-top: 25px;
}

/* 登录页面元素 */
#loginbg {
  position: relative;
  width: 100%;
  /* min-width: 950px; */
  max-width: 1170px;
  min-height: 650px;
  max-height: 100%;
  height: 100%;
  /* z-index: -999; */
}

#login {
	position: relative;
  width: 100%;
  min-width: 950px;
  max-width: 1140px;
  height: 100%;
  min-height: 650px;
  max-height: 100%;
  margin-top: -57%;
}

#login .has-error .control-label,
#login .has-error .checkbox label,
#login .has-error .checkbox-inline label,
#login .has-error .radio label,
#login .has-error .radio-inline label,
#login .has-success .control-label,
#login .has-success .checkbox label,
#login .has-success .checkbox-inline label,
#login .has-success .radio label,
#login .has-success .radio-inline label {
  color: #333;
}

#login .nav-tabs a {
  color: #555;
}

#login .nav-tabs li.bv-tab-error>a {
  color: #555;
}

#login .nav-tabs li.bv-tab-success>a {
  color: #555;
}

/* 
.login_tab {
  background: white;
}
 */
#login form {
  padding: 10px 10px;
}

#login form .col-xs-2 {
  padding-left: 2px;
  padding-right: 2px;
}

#login .form-control {
  width: 100%;
}

#login form .input-group-addon,
#login form .input-group-addon img {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

.navbar-bottom {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 2px;
  font-size: 14px;
  border-top: 3px solid #EF5350;
  background-color: #FFF;
}

/* 门户页面 */
/* 
#portal {
  padding: 20px;
}
 */
#context .media-left {
  padding: 10px;
}

.media {
  border-radius: 8px;
  border: 1px solid blue;
}

.media-object {
/*  border-radius: 20px; */

  width: 48px;
  height: 48px;
  margin:8px;
  /*
  border: 1px solid rgb(128, 128, 128);
  */
}

.media-body {
  white-space: nowrap;
  padding-left: 20px;
}

.media>.help-block {
  position: absolute;
  top: 0px;
  right: 20px;
  padding-right: 5px;
}

#mainboard>.col-xs-3 {
  margin-top: 10px;
  margin-bottom: 20px;
}

.panel-default>.panel-heading {
  background-color: #fcfcfc;
  color: #337ab7;
  font-weight: bold;
}

.panel-default>.colorWhite {
  background-color: #f5f5f5;
  color: #333;
}

.panel-default>.panel-heading {
  padding: 5px 15px;
}

.table>tbody>tr>td {
  vertical-align: middle;
}

table .btn {
  padding: 4px 8px;
}

#captchasection {
  display: none;
}

#firefoxsection {
  display: none;
}

.select-account:HOVER {
  cursor: pointer;
}

input[type=radio] {
  cursor: pointer;
}

.nodedisabled {
  filter: Gray;
  opacity: .5;
  -webkit-filter: grayscale(100%);
}

.media-title {
     font-size: 18px;
     margin-top: 10px;
     margin-bottom: 10px;
}

.disabled {
  background-color: #F0F0F0;
}

.pt30 {
  padding-top: 30px;
}

.pb30 {
  padding-bottom: 30px;
}

/* 
.imgpt {
  border-top: solid #B41E1F;
}
 */
#portal {
  margin-bottom: 40px;
}

#userinfo-page .form-horizontal .odd {
  background-color: #f9f9f9;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
  border-top: 1px solid #c0c0c0;
  border-left: 1px solid #c0c0c0;
  border-right: 1px solid #c0c0c0;
}

.tab-border {
  border-color: #c0c0c0;
}

.tab-border>li>a:hover {
  border-bottom: transparent;
  background-color: #dddddd;
}

.tab-border>li.active>a {
  border: 1px solid #c0c0c0;
  border-bottom-color: transparent;
}

.tab-border>li.active>a:hover {
  border: 1px solid #c0c0c0;
  border-bottom-color: transparent;
}

.login-border {
  border-left: 1px solid #c0c0c0;
  border-right: 1px solid #c0c0c0;
  border-bottom: 1px solid #c0c0c0;
}

.table-region {
  border: 1px solid #c0c0c0;
  border-collapse: collapse;
  border-spacing: 0;
}

.table thead tr,
.dataTable thead tr {
  background-color: #f2f2f2;
}

.table-region>thead>tr>th,
.table-region>tbody>tr>th,
.table-region>tfoot>tr>th {
  border: 1px solid #c0c0c0;
  font-weight: bold;
}

.table-region>thead>tr>td,
.table-region>tbody>tr>td,
.table-region>tfoot>tr>td {
  border: 1px solid #c0c0c0;
  font-weight: normal;
}

.table-region>thead>tr>th,
.table-region>thead>tr>td {
  border-bottom-width: 2px;
}

#changepwd .form-horizontal .form-group {}

#userinfo-page .form-horizontal .form-group {
  margin: 0px 1px;
  border-top: 1px solid #c0c0c0;
  border-left: 1px solid #c0c0c0;
  border-right: 1px solid #c0c0c0;
}

#changepwd .control-label {}

#userinfo-page .control-label {
  letter-spacing: 2px;
  padding: 10px 10px;
}

#changepwd .form-horizontal .form-group div {}

#userinfo-page .form-horizontal .form-group div {
  padding: 5px 10px;
  border-left: 1px solid #c0c0c0;
}

#changepwd .form-horizontal .handle-btn,
#changepwd .form-horizontal .handle-btn div {}

#userinfo-page .form-horizontal .handle-btn,
#userinfo-page .form-horizontal .handle-btn div {
  border-left: 0px;
  border-right: 0px;
}

a:focus {
  outline: none;
}

.dt-bootstrap .row div {
  width: 100%;
  text-align: center;
}

#idproxy .row ul,
#idplugin .row ul {
  margin: auto;
  margin-top: 5px;
}

#idproxy .btn-group-justified,
#idplugin .btn-group-justified {
  width: auto;
}

#logview .btn {
  width: 100px;
}

.half .btn {
  width: 100%;
}

#searchDiv {
  padding: 5px 15px;
}

#searchDiv .input-group {
  padding-right: 52px;
}

#searchDiv .form-group {
  margin-right: 10px;
}

.navbar-fixed-top {
  padding-top: 15px;
  padding-bottom: 15px;
}

.spied {
  height: 100%;
  z-index: -1000;
  width: 1140px;
  position: fixed;
  min-height: 550px;
  bottom: 25px;
  left: 50%;
  margin-left: -570px;
  background-color: #FFF;
}

/* 
.spied .container{
  width: 1140px !important;
	height: 150%;
  background-color: #FFF;
}
 */
 
a{text-decoration:none;}
a:link{text-decoration:none;}
a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
a:active{text-decoration:none;}
a:HOVER {text-decoration:none;}

