<div class='panel panel-default' id="accountMap">
  <div class="panel-heading" id="resourceName">
  </div>
  <div class="panel-body">
    <form class='form-horizontal' id='account_select'>
      <div id='account_list'>
      </div>
      <div class="form-group handle-btn">
        <label class='control-label'></label>
        <button type="submit" class="btn form-control btn-default" id="ssoByAccount">确定</button>
        <button type="reset" class="btn form-control btn-default">取消</button>
      </div>
    </form>
  </div>
</div>
<script>
$(document).ready(function() {
  on_account_dialog_show();
});
</script>
