<ul class="nav nav-tabs tab-border" role="tablist">
  <li class="active" role="presentation">
    <a aria-controls="idproxy" data-toggle="tab" href="#idproxy" role="tab">
      <span class="glyphicon glyphicon-user"></span>
      密码代填应用
    </a>
  </li>
  <li role="presentation">
    <a aria-controls="idplugin" data-toggle="tab" href="#idplugin" role="tab">
      <span class="glyphicon glyphicon-lock"></span>
      免密码集成应用
    </a>
  </li>
</ul>
<div class="tab-content">
  <div class="tab-pane active" id="idproxy" role="tabpanel">
    <div class="table-responsive panel dialog" id='proxylist'>
      <h4 class="sub-header">密码代填应用首次登录需输入密码，由统一认证系统通过代填方式完成登录。</h4>
      <table class="table table-striped table-region" id="appview" style="width:100%">
        <thead>
          <tr>
            <th class="text-center" style='width: 30%'>系统名称</th>
            <th class="text-center" style='width: 30%'>子帐号</th>
            <th class="text-center" style='width: 20%'>状态</th>
            <th class="text-center" style='width: 20%'>操作</th>
          </tr>
        </thead>
        <tbody></tbody>
        <!-- 
        <tfoot>
          <tr>
            <th>系统名称</th>
            <th>子帐号</th>
            <th>状态</th>
            <th class="text-center">操作</th>
          </tr>
        </tfoot>
         -->
      </table>
    </div>
  </div>
  <div class="tab-pane" id="idplugin" role="tabpanel">
    <div class="table-responsive panel dialog" id='applist'>
      <h4 class="sub-header">免密码集成应用登录时无需输入密码，统一认证系统和应用系统的账号映射由管理员负责维护。</h4>
      <table class="table table-striped table-region" id="logview" style="width:100%">
        <thead>
          <tr>
            <th class="text-center" style='width: 30%'>系统名称</th>
            <th class="text-center" style='width: 30%'>子帐号</th>
            <th class="text-center" style='width: 20%'>状态</th>
            <!-- <th class="text-center" style='width: 20%'>操作</th> -->
          </tr>
        </thead>
        <!-- 
        <tfoot>
          <tr>
            <th>系统名称</th>
            <th>子帐号</th>
            <th>状态</th>
            <th class="text-center">操作</th>
          </tr>
        </tfoot>
         -->
      </table>
    </div>
  </div>
</div>

<script src='assets/datatables/jquery.dataTables.js'></script>
<script src='assets/datatables/dataTables.bootstrap.js'></script>
<script>
  $(document).ready(function() {
    on_accountload();
  });
</script>
