<div class='panel panel-default' id="changepwd">
  <div class="panel-heading colorWhite" id="resourceName">
  </div>
  <div class="panel-body">
    <form class='form-horizontal' id='account_add'>
      <div class="form-group">
        <label class='control-label col-xs-3'>子&ensp;帐&ensp;号</label>
        <div class='col-xs-8'>
          <input class="form-control" name='accountName' placeholder="输入子帐号" required type="text">
        </div>
      </div>
      <div class="form-group">
        <label class='control-label  col-xs-3'>密&emsp;&emsp;码</label>
        <div class='col-xs-8'>
          <input class="form-control" name='accountPassword' placeholder="输入密码" required type="password">
        </div>
      </div>
      <div class="form-group">
        <label class='control-label  col-xs-3'>确认密码</label>
        <div class='col-xs-8'>
          <input class="form-control" name='confirmAccountPassword' placeholder="确认新密码" required type="password">
        </div>
      </div>
      <div class="form-group handle-btn">
        <label class='control-label col-xs-3'></label>
        <div class='col-xs-4'>
          <button type="submit" class="btn form-control btn-primary">确定</button>
        </div>
        <div class='col-xs-4'>
          <button type="reset" class="btn form-control btn-primary">取消</button>
        </div>
      </div>
    </form>
  </div>
</div>
<script>
  $(document).ready(function() {
    on_account_dialog_show();
  });

</script>
