<div class='panel panel-default' id="changepwd">
  <div class="panel-heading" id='title'>
  </div>
  <div class="panel-body">
    <div class='col-xs-2'>
    </div>
    <div class='col-xs-7'>
      <form class='form-horizontal' id='change_userpwd' hidden>
        <div class="form-group">
          <label class='col-xs-4 control-label' for="chg_oldpwd">原&ensp;密&ensp;码</label>
          <div class='col-xs-7'>
            <input class="form-control" maxlength='30' name='chg_oldpwd' placeholder="输入原密码" required type="password">
          </div>
        </div>
        <div class="form-group">
          <label class='col-xs-4 control-label' for="chg_passwd">新&ensp;密&ensp;码</label>
          <div class='col-xs-7'>
            <input class="form-control" maxlength='30' name='chg_passwd' placeholder="输入新密码" required type="password">
          </div>
        </div>
        <div class="form-group">
          <label class='col-xs-4 control-label' for="chg_passwd1">确认密码</label>
          <div class='col-xs-7'>
            <input class="form-control" maxlength='30' name='chg_passwd1' placeholder="确认新密码" required type="password">
          </div>
        </div>
        <div class="form-group handle-btn">
          <label class='col-xs-3 control-label'></label>
          <div class='col-xs-4'>
            <input type="submit" class="btn  btn-primary form-control" value='确定'>
          </div>
          <div class='col-xs-4'>
            <input type="reset" class="btn btn-primary form-control" value='取消'>
          </div>
        </div>
      </form>
      <form class='form-horizontal' id='change_ukeypwd' hidden>
        <div class="form-group">
          <label class='col-xs-4 control-label' for="chg_oldpwd">原证书密码</label>
          <div class='col-xs-7'>
            <input class="form-control" maxlength='30' name='chg_oldpwd' placeholder="输入原证书密码" required type="password">
          </div>
        </div>
        <div class="form-group">
          <label class='col-xs-4 control-label' for="chg_passwd">新证书密码</label>
          <div class='col-xs-7'>
            <input class="form-control" maxlength='30' name='chg_passwd' placeholder="输入新证书密码" required type="password">
          </div>
        </div>
        <div class="form-group">
          <label class='col-xs-4 control-label' for="chg_passwd1">确认证书密码</label>
          <div class='col-xs-7'>
            <input class="form-control" maxlength='30' name='chg_passwd1' placeholder="确认证书密码" required type="password">
          </div>
        </div>
        <div class="form-group handle-btn">
          <label class='col-xs-3 control-label'></label>
          <div class='col-xs-4'>
            <input type="submit" class="btn  btn-primary form-control" value='确定'>
          </div>
          <div class='col-xs-4'>
            <input type="reset" class="btn btn-primary form-control" value='取消'>
          </div>
        </div>
      </form>
    </div>
    <div class='col-xs-3'>
    </div>
  </div>
</div>
<script>
  $(document).ready(function() {
    load_change_userpassword();
  });

</script>
