<div class="panel panel-default">
  <div class="panel-heading">
     使用帮助&nbsp;&nbsp;&nbsp;
     <!-- <a href="doc/faq.pdf"download="使用帮助文档" Class="back">文档下载</a> -->
     <div class="heading-back">
      <a href="javascript:open_home();" Class="back">返回</a>
     </div>
  </div>
  
  <div class="bs-callout bs-callout-navigate" id="callout-overview-single-data">
    <p><a href="#question-one"><span>·</span> 国密统一认证系统介绍</a></p>
    <p><a href="#question-two"><span>·</span> 国密统一认证系统兼容的浏览器</a></p>
    <p><a href="#question-three"><span>·</span> 首次登录设置</a></p>
    <p><a href="#question-four"><span>·</span> 密码登录时为什么会弹出修改密码界面</a></p>
    <p><a href="#question-five"><span>·</span> 密码登录不了怎么办</a></p>
    <p><a href="#question-six"><span>·</span> 怎么设置信任站点</a></p>
    <p><a href="#question-seven"><span>·</span> 证书登录首次登录流程</a></p>
    <p><a href="#question-eight"><span>·</span> 证书登录时登录不了怎么办</a></p>
    <!-- <p><a href="#question-nine"><span>·</span> 证书密码忘记了怎么办</a></p> -->
    <p><a href="#question-ten"><span>·</span> "国密统一认证系统组件"的卸载方法</a></p>
    <p><a href="#question-eleven"><span>·</span> 应用图标显示灰色，不能登录怎么办</a></p>
    <p><a href="#question-twelve"><span>·</span> 什么是“密码代填应用”和“免密码集成应用”</a></p>
    <!-- 
    <p><a href="#question-thirteen"><span>·</span> 什么是“子账号”</a></p>
    <p><a href="#question-fourteen"><span>·</span> 子账号的创建与修改</a></p>
     -->
    <p><a href="#question-fourteen"><span>·</span> "密码代填应用"登录提示出错怎么办</a></p>
    <p><a href="#question-fifteen"><span>·</span> “OA系统”登录失败怎么办</a></p>
    <p><a href="#question-sixteen"><span>·</span> “资金平台”系统登陆失败怎么办</a></p>
	<p><a href="#question-seventeen"><span>·</span> 修改统一认证系统口令会修改AD口令吗？</a></p>

  </div>
  
  <div class="bs-callout bs-callout-danger" id="callout-overview-single-data">
    <a class="back-to-top" href="#top"><img alt="返回顶部" src="images/faq/back_top.png"></a>
    <a name="question-one"><h4>国密统一认证系统介绍</h4></a>
    <p>统一身份认证系统是针对企业信息建设的多个应用系统，基于信息安全等级保护技术规范，提供组织机构、用户全生命周期管理，应用系统注册、应用账号维护、应用系统单点登录配基于角色的访问控制权限，安全的日志审计，分级管理员权限及管理员管理功能于一体解决方案，构建企业多应用系统整合、集中管理和安全防护的安全服务平台。</p>
    <p>对于用户来说，通过统一身份认证系统，可以更安全、更便捷的访问需要登录的应用。</p>
  </div>
  
  <div class="bs-callout bs-callout-danger" id="callout-overview-single-data">
    <a class="back-to-top" href="#top"><img alt="返回顶部" src="images/faq/back_top.png"></a>
    <a name="question-two"><h4>国密统一认证系统兼容的浏览器（支持且不限于以下浏览器）：</h4></a>
    <table class="table table-striped table-region">
      <thead>
        <tr>
          <th>浏览器名称</th>
          <th>版本</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>IE浏览器</td>
          <td>IE7、IE8、IE9、IE10、IE11</td>
        </tr>
        <tr>
          <td>360浏览器</td>
          <td>正式版8.2.X以上版本、极速版8.5.X以上版本</td>
        </tr>
        <tr>
          <td>谷歌浏览器</td>
          <td>暂不支持“证书登录”</td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <div class="bs-callout bs-callout-danger" id="callout-overview-single-data">
    <a class="back-to-top" href="#top"><img alt="返回顶部" src="images/faq/back_top.png"></a>
    <a name="question-three"><h4>首次登录设置</h4></a>
    <p>1.在进行系统登录或安装系统所需的相关组件时，若遇到浏览器拦截，需要点击浏览器拦截提示的“允许”：</p>
    <img alt="" src="images/faq/cert3.png">
    <p>2.若在操作过程中，有杀毒软件拦截，请选择“允许”类选项，或者关闭杀毒软件进行操作。</p>
    <p>3.证书登录时，若是用的firefox浏览器，还需下载firefox插件，并允许插件运行。</p>
    <img alt="" src="images/faq/cert5.png">
  </div>
  
  <div class="bs-callout bs-callout-danger" id="callout-overview-single-data">
    <a class="back-to-top" href="#top"><img alt="返回顶部" src="images/faq/back_top.png"></a>
    <a name="question-four"><h4>密码登录时为什么会弹出修改密码界面</h4></a>
    <p>存在以下情况登录会弹出修改密码界面：</p>
    <p>①管理员设置首次登录必须改密码时，用户账号“首次登录”或“密码被管理员重置后首次登录”。</p>
    <p>②管理员设置了“密码有效期”，有效期过期后，用户登录时也会弹出界面。</p>
    <img alt="" src="images/faq/login1.png">
  </div>
  
  <div class="bs-callout bs-callout-danger" id="callout-overview-single-data">
    <a class="back-to-top" href="#top"><img alt="返回顶部" src="images/faq/back_top.png"></a>
    <a name="question-five"><h4>密码登录不了怎么办</h4></a>
    <h5>1.登录时账号被锁定</h5>
    <p>输入账号密码次数超过限制后，账号会被锁定，需要等待锁定时间完毕自动解锁。</p>
    <img alt="" src="images/faq/other1.png">
    <h5>2.登录时出现提示“账号已失效”</h5>
    <p>账号已失效是账号已经过了有效期，需找管理员重新办理创建新的账号。</p>
    <h5>3.登录时出现提示“账号被停用”</h5>
    <p>账号被停用，可以咨询管理员被停用的具体原因后申请恢复启用。</p>
    <!-- 
    <h5>4.登录时提示“此时间禁止访问”或“此IP禁止访问”</h5>
    <p>管理员设置了登录限制，比如系统维护期间，或者其他特殊情况时，等待维护完毕，管理员取消限制即可恢复正常登录。也可以询问管理员限制条件，或向管理员申请修改限制等。</p>
     -->
  </div>
  
 <div class="bs-callout bs-callout-danger" id="callout-overview-single-data">
    <a class="back-to-top" href="#top"><img alt="返回顶部" src="images/faq/back_top.png"></a>
    <a name="question-six"><h4>怎么设置信任站点</h4></a>
    <p>将网站加入信任站点（以IE浏览器为例）：Internet选项—安全—受信任的站点—站点—点击添加按钮后—关闭—确认。</p>
    <img alt="" src="images/faq/cert4.png" style="width: 90%">
  </div>
  
  <div class="bs-callout bs-callout-danger" id="callout-overview-single-data">
    <a class="back-to-top" href="#top"><img alt="返回顶部" src="images/faq/back_top.png"></a>
    <a name="question-seven"><h4>证书登录首次登录流程</h4></a>
    <h5>1.电脑首次证书登录，因未安装“国密安全组件”，需要下载安装，点击“证书登录”切换到证书登录窗口，页面会自动弹出提示窗口，点击提示窗口的下载，或登录界面的组件下载，即可下载“国密安全组件”：</h5>
    <img alt="" src="images/faq/cert1.png" style="width: 90%">
    <h5>2.安装好“国密安全组件”后，重启浏览器，插入U-key，登录界面会自动获取U-key用户，填写证书密码，点击登录按钮，即可登录系统：</h5>
    <img alt="" src="images/faq/cert2.png">
  </div>
  
  <div class="bs-callout bs-callout-danger" id="callout-overview-single-data">
    <a class="back-to-top" href="#top"><img alt="返回顶部" src="images/faq/back_top.png"></a>
    <a name="question-eight"><h4>证书登录时登录不了怎么办</h4></a>
    <h5>1.插入U-key后，登录界面获取获取不到U-key用户名</h5>
    <p>解决办法：检查信任站点列表是否包含http://uas.hlic.cn，若没有，则把该网站加入浏览器“信任站点”。<a href="#question-six">设置方法</a></p>
    <h5>2.已经安装好“国密安全组件”仍出现下载提示，尝试进行以下操作：</h5>、
    <p>①重启浏览器，重新登陆。</p>
    <p>②直接重装“国密安全组件”</p>
    <img alt="" src="images/faq/login2.png">
    <p>③若是上述方法不能解决问题，请手动卸载后，重新安装。<a href="#question-ten">如何手动卸载</a></p>
  </div>
  
  <div class="bs-callout bs-callout-danger" id="callout-overview-single-data">
    <a class="back-to-top" href="#top"><img alt="返回顶部" src="images/faq/back_top.png"></a>
    <a name="question-nine"><h4>证书密码忘记了怎么办</h4></a>
    <p>请联系管理员重新申请证书。</p>
  </div>
  
  <div class="bs-callout bs-callout-danger" id="callout-overview-single-data">
    <a class="back-to-top" href="#top"><img alt="返回顶部" src="images/faq/back_top.png"></a>
    <a name="question-ten"><h4>“国密统一认证系统组件”的卸载方法</h4></a>
    <p>1.点击开始菜单-进入控制面板-程序-卸载程序</p>
    <img alt="" src="images/faq/other10.png">
    <p>2.右键点击“幸福人寿单点登录”，选择卸载即可卸载所有相关组件。</p>
    <img alt="" src="images/faq/other11.png">
  </div>
  
  <div class="bs-callout bs-callout-danger" id="callout-overview-single-data">
    <a class="back-to-top" href="#top"><img alt="返回顶部" src="images/faq/back_top.png"></a>
    <a name="question-eleven"><h4>应用图标显示灰色，不能登录怎么办</h4></a>
    <p>应用图标显示为灰色，说明未完成配置或者授权。具体有如下几种情况：</p>
    <p><strong>请更换认证方式：</strong>当前应用不支持用户名密码方式登录，请通过更安全的证书方式登录后再进行访问。</p>
    <p><strong>未配置账号：</strong>当前应用采用密码代填方式单点登录，首次需要配置账号密码。</p>
    <p><strong>管理员未授权：</strong>当前应用需要管理员授权后才能访问。</p>
  </div>
  
  <div class="bs-callout bs-callout-danger" id="callout-overview-single-data">
    <a class="back-to-top" href="#top"><img alt="返回顶部" src="images/faq/back_top.png"></a>
    <a name="question-twelve"><h4>什么是“密码代填应用”和“免密码集成应用”</h4></a>
    <p>“密码代填应用”和“免密码集成应用”是应用的两种不同单点登录方式。</p>
    <p><strong>密码代填应用</strong>首次登录需输入密码，由统一认证系统通过代填方式完成登录。</p>
    <p><strong>免密码集成应用</strong>登录时无需输入密码，统一认证系统和应用系统的账号映射由管理员负责维护，需要管理员进行授权后才能访问。</p>
  </div>
  <!-- 
  <div class="bs-callout bs-callout-danger" id="callout-overview-single-data">
    <a class="back-to-top" href="#top"><img alt="返回顶部" src="images/faq/back_top.png"></a>
    <a name="question-thirteen"><h4>什么是“子账号”</h4></a>
    <p>“子账号”简单来说就是应用的登录账号，子账号的账号密码，就是应用的登录账号密码。</p>
    <img alt="" src="images/faq/other9.png">
  </div>
  
  <div class="bs-callout bs-callout-danger" id="callout-overview-single-data">
    <a class="back-to-top" href="#top"><img alt="返回顶部" src="images/faq/back_top.png"></a>
    <a name="question-fourteen"><h4>子账号的创建与修改</h4></a>
    <h5>1.子账号的创建</h5>
    <p>①点击应用账号，再点击添加按钮，只有“密码代填应”才可以自行创建子账号。</p>
    <img alt="" src="images/faq/other5.png">
    <p>②输入子账号相关信息，点击确定即可。</p>
    <img alt="" src="images/faq/other6.png">
    <h5>2.修改子账号</h5>
    <p>①点击需要修改子账号的编辑按钮。</p>
    <img alt="" src="images/faq/other7.png">
    <p>②输入修改信息点击确定即可。</p>
  </div>
   -->
  <div class="bs-callout bs-callout-danger" id="callout-overview-single-data">
    <a class="back-to-top" href="#top"><img alt="返回顶部" src="images/faq/back_top.png"></a>
    <a name="question-fourteen"><h4>“密码代填应用”登录提示出错怎么办</h4></a>
    <p>1.使用“子账号”的账号密码直接到应用的登录页面进行尝试登录，若可以登录，请重新编辑“子账号”的账号密码，可能是子账号配置是出错。</p>
    <p>2.“子账号”的账号密码就是应用登录的账号密码，若应用登录密码变更，“子账号”的密码也必须进行相应的变更。</p>
    <p>3.以上方法都不能解决，请联系管理员，向管理员说明问题。</p>
  </div>
  
   <div class="bs-callout bs-callout-danger" id="callout-overview-single-data">
    <a class="back-to-top" href="#top"><img alt="返回顶部" src="images/faq/back_top.png"></a>
    <a name="question-fifteen"><h4>“OA系统”登录失败怎么办</h4></a>
    <h5>由于现阶段OA采用的是密码代填方式单点登录，需要检查如下配置：</h5>
    <p>1.检查信任站点设置。检查统一认证平台http://uas.hlic.cn和OA系统http://oa.hlic.cn都在浏览器信任列表中，如果不在请自行添加。<a href="#question-three">添加方法</a></p>
    <img alt="" src="images/faq/oa1.png" style="width: 90%">
    <p>2.如果提示身份验证失败。检查在统一认证平台中绑定的账号密码是否正确。</p>
    <p>3.如果还无法登陆，请联系管理员。</p>
  </div>
  
   <div class="bs-callout bs-callout-danger" id="callout-overview-single-data">
    <a class="back-to-top" href="#top"><img alt="返回顶部" src="images/faq/back_top.png"></a>
    <a name="question-sixteen"><h4>“资金平台”系统登陆失败怎么办</h4></a>
    <h5>资金平台系统安全性要求高，需要采用证书登陆访问，目前需要检查如下配置：</h5>
    <p>1.如果页面提示管理员未授权，请联系管理员。</p>
    <p>2.检查信任站点设置：检查同意认证平台http://uas.hlic.cn和资金平台安全网关http://10.101.48.202都在浏览器信任列表中。</p>
    <img alt="" src="images/faq/zjpt1.png" style="width: 90%">
    <p>3.如果页面提示安全控件未启用，请允许控件运行。</p>
    <img alt="" src="images/faq/zjpt2.png" style="width: 90%">
    <p>4.如果还无法登陆，请联系管理员。</p>
  </div>
  
   <div class="bs-callout bs-callout-danger" id="callout-overview-single-data">
    <a class="back-to-top" href="#top"><img alt="返回顶部" src="images/faq/back_top.png"></a>
    <a name="question-seventeen"><h4>修改统一认证系统口令会修改AD口令吗？</h4></a>
    <p>目前统一认证系统采用AD域账户密码登录，修改时会同步修改AD口令。</p>
  </div>
  
  
</div>
