<div class='panel panel-default' id="changepwd">
  <div class="panel-heading colorWhite">
    修改用户口令
  </div>
  <div class="panel-body">
    <form class='form-horizontal' id='change_userpwd'>
      <div class="form-group">
        <label class='col-xs-3 control-label' for="chg_oldpwd">原&ensp;密&ensp;码</label>
        <div class='col-xs-8'>
        <input class="form-control" maxlength='30' name='chg_oldpwd' placeholder="输入原密码" required type="password">
        </div>
      </div>
      <div class="form-group">
        <label class='col-xs-3 control-label' for="chg_passwd">新&ensp;密&ensp;码</label>
        <div class='col-xs-8'>
        <input class="form-control" maxlength='30' name='chg_passwd' placeholder="输入新密码" required type="password">
        </div>
      </div>
      <div class="form-group">
        <label class='col-xs-3 control-label' for="chg_passwd1">确认密码</label>
        <div class='col-xs-8'>
        <input class="form-control"  maxlength='30' name='chg_passwd1' placeholder="确认新密码" required type="password">
        </div>
      </div>
      <div class="form-group handle-btn">
        <label class='col-xs-3 control-label'></label>
        <div class='col-xs-8'>
          <input type="submit" class="btn form-control btn-primary" value='确定'>
        </div>
      </div>
    </form>
  </div>
</div>
<script>
  $(document).ready(function() {
	load_firstchange_userpassword();
  });
</script>
