<ul class="nav nav-tabs tab-border" role="tablist">
  <li class="active" role="presentation">
    <a aria-controls="idproxy" data-toggle="tab" href="#idproxy" role="tab">
      <span class="glyphicon glyphicon-user"></span>
      单点登录日志
    </a>
  </li>
  <li role="presentation">
    <a aria-controls="idplugin" data-toggle="tab" href="#idplugin" role="tab">
      <span class="glyphicon glyphicon-lock"></span>
      用户行为日志
    </a>
  </li>
</ul>
<div class="tab-content">
  <div class="tab-pane active" id="idproxy" role="tabpanel">
    <div class="panel panel-default dialog" id='proxylist'>
      <div class="panel-heading">
        用户单点登录应用系统日志
      </div>
      <div class="panel-body">
        <table class="table-striped table-region" id="access_log_list" style="width:100%"></table>
      </div>
    </div>
  </div>
  <div class="tab-pane" id="idplugin" role="tabpanel">
    <div class="panel panel-default dialog" id='applist'>
      <div class="panel-heading">
        用户操作行为日志
      </div>
      <div class="panel-body">
        <table class="table-striped table-region" id="user_log_list" style="width:100%"></table>
      </div>
    </div>
  </div>
</div>

<script src='assets/datatables/jquery.dataTables.js'></script>
<script src='assets/datatables/dataTables.bootstrap.js'></script>
<script>
  $(document).ready(function() {
    on_logload();
  });

</script>
