<div class='panel panel-default' id='proxylist'>
  <div class="panel-heading">
    用户单点登录应用系统日志
  </div>
  <div class="panel-body">
    <div class="form-inline" id="searchDiv">
      <!-- <div class="form-group">
          <label class="control-label">id:</label>
          <div class="input-group">
            <span class="input-group-addon"> <i class="fa fa-calendar"></i></span> 
            <input type="text" class="form-control" id="id" name="id" operator="like" style="width:225px;"/>
          </div>
        </div> -->
        <label class="control-label">起始时间:</label>
        <div class="input-group">
          <span class="input-group-addon"> <i class="glyphicon glyphicon-calendar"></i></span>
          <input type="text" class="form-control" id="begin_accessDateTime" name="begin_accessDateTime" operator="time"/>
        </div>
        <label class="control-label">结束时间:</label>
        <div class="input-group">
          <span class="input-group-addon"> <i class="glyphicon glyphicon-calendar"></i></span>
          <input type="text" class="form-control" id="end_accessDateTime" name="end_accessDateTime" operator="time"/>
        </div>
        <button type="button" class="btn btn-sm btn-primary" data-btn-type="search">查询</button>
    </div>
    <table class="table table-striped table-region" id="access_log_list" style="width:100%"></table>
  </div>
</div>

<script src='assets/datatables/jquery.dataTables.js'></script>
<script src='assets/datatables/dataTables.bootstrap.js'></script>
<script>
  $(document).ready(function() {
    load_access_log_list();
    var now = new Date();
    now.setMonth(now.getMonth() - 1);
    $("#begin_accessDateTime").val(now.Format('yyyy-mm-dd'));
    $("#end_accessDateTime").val(new Date().Format('yyyy-mm-dd'));
    $("#begin_accessDateTime").datepicker({
      format: 'yyyy-mm-dd',
      autoclose: true,
      clearBtn: true,
      todayHighlight: true,
      language: 'zh-CN'
    });
    $("#end_accessDateTime").datepicker({
      format: 'yyyy-mm-dd',
      autoclose: true,
      clearBtn: true,
      todayHighlight: true,
      language: 'zh-CN'
    });
  });

</script>
