<img id="loginbg" src="images/login.png" />
<div id='login'>
  <div style="position:absolute;float:left;margin-top:175px;left:60px;">
    <img alt="" src="images/login-pc.png">
  </div>
  <div class="col-xs-5" style='margin-left: 50%;margin-top:155px;float:left;'>
    <div class="panel panel-default">
      <div class="panel-body login_tab">
        <ul class="nav nav-tabs tab-border" id="loginmode" role="tablist">
          <li class="active" role="presentation" id="li_auth_pwd"><a aria-controls="home" data-toggle="tab" href="#home" role="tab" id="auth_pwd"> <span class="glyphicon glyphicon-user"> </span>密码登录
            </a></li>
          <li role="presentation" id="li_auth_cert"><a aria-controls="profile" data-toggle="tab" href="#profile" role="tab" id="auth_cert"> <span class="glyphicon glyphicon-lock"> </span>证书登录
            </a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active login-border" id="home" role="tabpanel">
            <form class='form-horizontal login_form' id='uform'>
              <div class="form-group">
                <label class='col-xs-3 control-label'>用户:</label>
                <div class='col-xs-9'>
                  <input class="form-control" maxlength='20' id='pwd_username' name='username' placeholder="请输入帐号" type="text">
                </div>
              </div>
              <div class="form-group">
                <label class='control-label col-xs-3'>密码:</label>
                <div class='col-xs-9'>
                  <input class="form-control" id='user_pwd' maxlength='20' name='password' placeholder="请输入密码" required type="password">
                </div>
              </div>
              <div class="form-group" id='captchasection'>
                <label class='control-label col-xs-3' for="pwd_captcha" id='captcha'>验证码:</label>
                <div class='col-xs-9'>
                  <div class="input-group">
                    <span class="input-group-addon">
                      <img src="captcha" id='capimg'>
                    </span>
                    <input class="form-control" id="pwd_captcha" maxlength='4' name='captcha' placeholder="请输入验证码" type="text">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class='control-label col-xs-3'></label>
                <div class='col-xs-9'>
                  <button type="submit" class="btn btn-primary form-control">登录</button>
                </div>
              </div>
            </form>
          </div>
          <div class="tab-pane login-border" id="profile" role="tabpanel">
            <form class='form-horizontal login_form' id='cform'>
              <div class="form-group">
                <label for="cert_user" class='control-label
                  col-xs-3 noldeftpad'>用&emsp;&emsp;户:</label>
                <div class='col-xs-9'>
                  <select class="form-control" id="cert_user" name='username'>
                    <option value=''>请插入USB KEY</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label for="cert_pin" class='control-label col-xs-3 noldeftpad'>证书密码:</label>
                <div class='col-xs-9'>
                  <input class="form-control" id="cert_pin" maxlength='16' name="pin" placeholder="请输入密码" required type="password">
                </div>
              </div>
              <div class="form-group">
                <label for="cert_pin" class='control-label col-xs-3 noldeftpad'>组件下载:</label>
                <div class='col-xs-9' style='padding-top: 7px;'>
                  <a href="downloadClient">组件下载</a>
                  <a id='firefoxsection' href="statics/scertutils_extension-1.0.0.1-an+fx.xpi">FireFox插件下载</a>
                </div>
              </div>
              <div class="form-group">
                <label class='control-label col-xs-3'></label>
                <div class='col-xs-9'>
                  <button type="submit" class="btn btn-primary form-control">登录</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script language="javascript" type="text/javascript">
  var firefox = false;
  RunOnLoaded = false;
  $(document).ready(
    function() {
      if (!document.addEventListener) {
        //$('input, textarea').placeholder();
      }
      /* 
      var explorer = navigator.sayswho;
      console.log('explorer:' + explorer);
      var ie = explorer.indexOf("IE") > -1;
       */
      firefox = explorer.indexOf("Firefox") > -1;
      var _32 = false;
      var notsupport = false;
      if (ie) {
        function isTrustedIE() {
          var tid = null;
          try {
            var test = new ActiveXObject("WScript.Shell");
          } catch (e) {
            ShowAlert("未将本站点添加到信任站点,<br>请您打开 IE 菜单>工具>Internet选项>安全>可信站点, 将本站点加入到可信站点,<br>" +
              "然后通过 可信站点>自定义级别 将“对没有标记为安全的activex控件进行初始化和脚本运行”设置成“启用”。<br><br>" +
              "完成后刷新页面", 999);
            return false;
          }
          return true;
        }
        //isTrustedIE();
      }

      $("#loginbg").height($(window).height() - 55 - 55);
      $('#capimg').click(function() {
        $("#capimg").attr("src", "captcha?random=" + Math.floor(Math.random() * 100));
      });
      if (firefox) {
        $("#firefoxsection").show();
      };
      try {
        loadVerifyRandom();
        loadLoginPage('#uform', '#cform');
        /* 
        user_pwd_form_valid('#uform');
        certificate_form_valid('#cform');
         */
      } catch (e) {
        console.log(e);
      }

      $('a[data-toggle="tab"]').on("shown.bs.tab", function(e) {
        console.log(e.target.hash);
        if (e.target.hash == "#profile") {
          if(!be_trustedIE){
            faq_point = 'question-three';
            
            var ptions = {
              closable: true,
              title: "提示信息",
              onshown: function(dlg) {
                dlg.getModalBody().html(
                  "<h4>证书登录需要设置信任域, 详细步骤请参阅使用帮助--<br/><br/><a href='javascript:void(0);' onclick ='open_faq()' style='color:red;text-decoration: underline;'>首次登录设置</a></h4>"                 
                );
                trust_dlg = dlg;
              }
            }
            
            BootstrapDialog.alert(ptions);
          }
            /*
          if (ie) {
            _32 = window.navigator.platform == "Win32"
            console.log("32bits:" + _32);
            if (explorer.indexOf("IE 8") > -1 && _32 == false) {
              ShowAlert("证书登录不支持64位的IE 8浏览器,请使用密码登录或者升级到最新版本的IE浏览器", 99);
              notsupport = true;
            }
          }
            */
          else if (notsupport == false && explorer.indexOf("Chrome") > -1) {
            ShowAlert("证书登录不支持Chrome浏览器,请使用密码登录或者使用到最新版本的IE浏览器或FireFox浏览器", 99);
            e.preventDefault();
            $('#loginmode a:first').tab('show') // Select first tab
            notsupport = true;
          }
          else if (notsupport) {
            e.preventDefault();
            $('#loginmode a:first').tab('show') // Select first tab
          } else{
            RunOnLoaded = false;
            RunOnLoad();
          }
        }
        if (e.target.hash == "#home") {
          if (certtimer != undefined && certtimer != null) {
            window.clearTimeout(certtimer);
          }
        }
      });

    });

</script>
