<div class="panel panel-default" id="userinfo-page">
  <div class="panel-heading">
    详细信息
  </div>
  <div class="panel-body">
    
    <div class='col-xs-2'>
    </div>
    <div class='col-xs-8'>
      <form class='form-horizontal' id='userinfo_form'>
        <div class="form-group odd">
          <label class='col-xs-3 control-label'>流水号</label>
          <div class='col-xs-8'>
            <p class='form-control-static' id="log_id"></p>
          </div>
        </div>
        <div class="form-group odd">
          <label class='col-xs-3 control-label'>用户帐号</label>
          <div class='col-xs-8'>
            <p class='form-control-static' id="log_loginName"></p>
          </div>
        </div>
        <div class="form-group odd">
          <label class='col-xs-3 control-label'>用户姓名</label>
          <div class='col-xs-8'>
            <p class='form-control-static' id="log_userName"></p>
          </div>
        </div>
        <div class="form-group odd">
          <label class='col-xs-3 control-label'>机构名称</label>
          <div class='col-xs-8'>
            <p class='form-control-static' id="log_orgName"></p>
          </div>
        </div>
        <div class="form-group odd">
          <label class='col-xs-3 control-label'>应用系统</label>
          <div class='col-xs-8'>
            <p class='form-control-static' id="log_resourceName"></p>
          </div>
        </div>
        <div class="form-group odd">
          <label class='col-xs-3 control-label'>应用帐号别名</label>
          <div class='col-xs-8'>
            <p class='form-control-static' id="log_accountAlias"></p>
          </div>
        </div>
        <div class="form-group odd">
          <label class='col-xs-3 control-label'>应用帐号</label>
          <div class='col-xs-8'>
            <p class='form-control-static' id="log_accountName"></p>
          </div>
        </div>
        <div class="form-group odd">
          <label class='col-xs-3 control-label'>客户端IP</label>
          <div class='col-xs-8'>
            <p class='form-control-static' id="log_clientIp"></p>
          </div>
        </div>
        <div class="form-group odd">
          <label class='col-xs-3 control-label'>访问结果</label>
          <div class='col-xs-8'>
            <p class='form-control-static' id="log_accessResult"></p>
          </div>
        </div>
        <div class="form-group odd">
          <label class='col-xs-3 control-label'>访问时间</label>
          <div class='col-xs-8'>
            <p class='form-control-static' id="log_accessDateTime"></p>
          </div>
        </div>
        <!-- <div class="form-group odd">
          <label class='col-xs-3 control-label'>日志内容</label>
          <div class='col-xs-9'>
            <p  class='form-control-static' id="log_logContext" readonly="readonly" style="width:100%;height: auto;word-break: break-all;"></p>
          </div>
        </div> -->
        <div class="form-group handle-btn">
          <label class='col-xs-3 control-label'></label>
          <div class='col-xs-8'>
            <input class='btn btn-primary form-control' type='button' value='返回' data-btn-type="cancel">
          </div>
        </div>
      </form>
    </div>
    <div class='col-xs-3'>
    </div>
  </div>
</div>
<script>
$(function () {
    $("[data-btn-type='cancel']").click(function () {
    	open_loginlog();
    })
});
</script>
