<div class="panel panel-default">
  <div class="panel-heading">
    支持单点登录的应用系统
  </div>
  <div class="panel-body pt30">
    <div id='mainboard'>
      <!-- 
      <div class='col-xs-3'>
        <div class="media">
          <span class="help-block pull-right">当前应用不正常</span>
          <div class="media-left media-middle">
            <a href="">
              <img class="media-object" data-src="holder.js/100x26" style="">
            </a>
          </div>
          <div class="media-body media-middle">
            <h4 class='media-title'>UI应用系统(模板)</h4>
          </div>
        </div>
      </div>
      -->
    </div>
  </div>
</div>
<script>
  $(document).ready(function() {
    load_mainboard();
    var cookie = document.cookie+"";
    console.log('cookie:'+cookie);
    if(logined==false && cookie.indexOf('authCode=certificate_auth')>-1){
        logined = true;
        AutoLogout();
    };
  });

</script>
