<div class='panel panel-default' id='applist'>
  <div class="panel-heading">
    用户操作行为日志
  </div>
  <div class="panel-body">
    <div class="form-inline" id="searchDiv">
        <label class="control-label">起始时间:</label>
        <div class="input-group">
          <span class="input-group-addon"> <i class="glyphicon glyphicon-calendar"></i></span>
          <input type="text" class="form-control" id="begin_operDateTime" name="begin_operDateTime" operator="time"/>
        </div>
        <label class="control-label">结束时间:</label>
        <div class="input-group">
          <span class="input-group-addon"> <i class="glyphicon glyphicon-calendar"></i></span>
          <input type="text" class="form-control" id="end_operDateTime" name="end_operDateTime" operator="time"/>
        </div>
        <button type="button" class="btn btn-sm btn-primary" data-btn-type="search">查询</button>
    </div>
    <table class="table table-striped table-region" id="user_log_list" style="width:100%"></table>
  </div>
</div>

<script src='assets/datatables/jquery.dataTables.js'></script>
<script src='assets/datatables/dataTables.bootstrap.js'></script>
<script>
  $(document).ready(function() {
    var now = new Date();
    now.setMonth(now.getMonth() - 1);
    $("#begin_operDateTime").val(now.Format('yyyy-mm-dd'));
    $("#end_operDateTime").val(new Date().Format('yyyy-mm-dd'));
    $("#begin_operDateTime").datepicker({
      format: 'yyyy-mm-dd',
      autoclose: true,
      clearBtn: true,
      todayHighlight: true,
      language: 'zh-CN'
    });
    $("#end_operDateTime").datepicker({
      format: 'yyyy-mm-dd',
      autoclose: true,
      clearBtn: true,
      todayHighlight: true,
      language: 'zh-CN'
    });
    load_user_log_list();

  });

</script>
