<div class="panel panel-default" id="userinfo-page">
  <div class="panel-heading">
    当前用户身份信息
  </div>
  <div class="panel-body">
    <p>
      <span class="glyphicon glyphicon-user"></span>
      部分信息，如帐号、姓名和部门无法修改。
    </p>
    <div class='col-xs-2'>
    </div>
    <div class='col-xs-7'>
      <form class='form-horizontal' id='userinfo_form'>
        <div class="form-group odd">
          <label class='col-xs-3 control-label'>帐&emsp;&emsp;号</label>
          <div class='col-xs-8'>
            <p class='form-control-static' id="u_loginName"></p>
          </div>
        </div>
        <div class="form-group odd">
          <label class='col-xs-3 control-label'>姓&emsp;&emsp;名</label>
          <div class='col-xs-8'>
            <p class='form-control-static' id="u_userName"></p>
          </div>
        </div>
        <div class="form-group odd">
          <label class='col-xs-3 control-label'>部&emsp;&emsp;门</label>
          <div class='col-xs-8'>
            <p class='form-control-static' id="u_orgName"></p>
          </div>
        </div>
        <div class="form-group odd">
          <label class='col-xs-3 control-label'>员工编号</label>
          <div class='col-xs-8'>
            <p class='form-control-static' id="u_idNumber"></p>
          </div>
        </div>
        <div class="form-group odd">
          <label class='col-xs-3 control-label'>入职时间</label>
          <div class='col-xs-8'>
            <p class='form-control-static' id="u_hireTime"></p>
          </div>
        </div>
        <div class="form-group">
          <label class='col-xs-3 control-label'>员工生日</label>
          <div class='col-xs-8'>
            <input class='form-control' name='birthday' id='birthday' type='text' readOnly style="background-color: #FFF">
          </div>
        </div>
        <div class="form-group">
          <label class='col-xs-3 control-label'>移动电话</label>
          <div class='col-xs-8'>
            <input class='form-control' name="mobilePhone" id='mobilePhone' type='text'>
          </div>
        </div>
        <div class="form-group">
          <label class='col-xs-3 control-label'>办公电话</label>
          <div class='col-xs-8'>
            <input class='form-control' name='officePhone' id='officePhone' type='text'>
          </div>
        </div>
        <div class="form-group handle-btn">
          <label class='col-xs-3 control-label'></label>
          <div class='col-xs-8'>
            <input class='btn btn-primary form-control' type='submit' value='保存'>
            <input type="hidden" name="id" value="${id}" />
            <input type="hidden" name="updateTimeStamp" value="${updateTimeStamp}" />
          </div>
        </div>
      </form>
    </div>
    <div class='col-xs-3'>
    </div>
  </div>
</div>
<script>
  $(document).ready(function() {
    $("#birthday").datepicker({
      format: 'yyyy-mm-dd',
      autoclose : true,
      clearBtn : true,
      todayHighlight : true,
      language: 'zh-CN'
    });
  });
</script>
