<div id='portal'>
  <div class='col-xs-12 sep'>
    <div class='col-xs-5' id='portaluserinfo'>
      欢迎您:
      <span class="glyphicon glyphicon-user"></span>
      ${userName}
      <span></span>
      ${orgName}
    </div>
    <div class='col-xs-5' id='portaltips'>
    </div>
    <div class="col-xs-2 pull-right">
      <div class='text-right'>
        <a href="javascript:do_logout();" class='button'>安全注销</a>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='col-xs-2'>
      <ul class="list-group">
        <li class="list-group-item">
          <span class="fa fa-th-list" aria-hidden="true"></span>
          <a href="javascript:open_mainboard();">应用列表</a>
        </li>
        <li class="list-group-item">
          <span class="fa fa-users" aria-hidden="true"></span>
          <a href="javascript:open_accountmgr();">应用帐号</a>
        </li>
        <li class="list-group-item">
          <span class="fa fa-heart" aria-hidden="true"></span>
          <a href="javascript:open_userinfo();">个人信息</a>
        </li>
        <li class="list-group-item">
          <span class="fa fa-key" aria-hidden="true"></span>
          <a href="javascript:open_changepwd();">修改密码</a>
        </li>
        <!-- 
        <li class="list-group-item">
          <span class="fa fa-file-text" aria-hidden="true"></span>
          <a href="javascript:open_loglist();">安全日志</a>
        </li>
         -->
        <!-- <li class="list-group-item">
          <span class="fa fa-file-text" aria-hidden="true"></span>
          <a href="javascript:open_loginlog();">访问记录</a>
        </li>
        <li class="list-group-item">
          <span class="fa fa-reorder" aria-hidden="true"></span>
          <a href="javascript:open_userecord();">用户日志</a>
        </li> -->
        <li class="list-group-item">
        </li>
        <li class='list-group-item nopad imgpt'>
          <img class='col-xs-12 nopad' src="images/xftel.jpg">
        </li>
      </ul>
    </div>
    <div class='col-xs-10'>
      <div class="" id="context"></div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function() {
    open_mainboard();
  })
</script>
