.img-circle {
  behavior: url(assets/pie/PIE.htc);
}
.img-rounded {
  behavior: url(assets/pie/PIE.htc);
}
.img-thumbnail {
  behavior: url(assets/pie/PIE.htc);
}
.table-bordered {
  behavior: url(assets/pie/PIE.htc);
}
select,
textarea,
input,
code,
pre,
kbd,
pre {
  behavior: url(assets/pie/PIE.htc);
}
.input-group-addon {
  behavior: url(assets/pie/PIE.htc);
}
.btn {
  behavior: url(assets/pie/PIE.htc);
}
.dropdown-menu {
  behavior: url(assets/pie/PIE.htc);
}
.form-control {
  behavior: url(assets/pie/PIE.htc);
}
.panel {
  behavior: url(assets/pie/PIE.htc);
}
.well {
  behavior: url(assets/pie/PIE.htc);
}
.nav-tabs > li > a {
  behavior: url(assets/pie/PIE.htc);
}
.nav-pills > li > a {
  behavior: url(assets/pie/PIE.htc);
}
.navbar {
  behavior: url(assets/pie/PIE.htc);
}
.navbar-nav > li > a {
  behavior: url(assets/pie/PIE.htc);
}
.navbar-toggle {
  behavior: url(assets/pie/PIE.htc);
}
.navbar-toggle .icon-bar {
  behavior: url(assets/pie/PIE.htc);
}
.breadcrumb {
  behavior: url(assets/pie/PIE.htc);
}
.pagination {
  behavior: url(assets/pie/PIE.htc);
}
.pager li > a,
.pager li > span {
  behavior: url(assets/pie/PIE.htc);
}
.modal-content {
  behavior: url(assets/pie/PIE.htc);
}
.tooltip-inner {
  behavior: url(assets/pie/PIE.htc);
}
.popover {
  behavior: url(assets/pie/PIE.htc);
}
.popover-title {
  behavior: url(assets/pie/PIE.htc);
}
.alert {
  behavior: url(assets/pie/PIE.htc);
}
.thumbnail,
.img-thumbnail {
  behavior: url(assets/pie/PIE.htc);
}
.label {
  behavior: url(assets/pie/PIE.htc);
}
.badge {
  behavior: url(assets/pie/PIE.htc);
}
.progress {
  behavior: url(assets/pie/PIE.htc);
}
.carousel-indicators li {
  behavior: url(assets/pie/PIE.htc);
}
.jumbotron {
  behavior: url(assets/pie/PIE.htc);
}
.res-list{
	behavior: url(assets/pie/PIE.htc);
	margin-top: 0px;
}

